body,h1,h2,h3,h4,h5,p,form,ol,ul{margin:0;}
ol,ul{padding:0;}
html{font:1em "Avenir Next",Avenir,"Helvetica Neue",Helvetica,"Lantinghei SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑", "STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;color:#222;}


textarea,input,option,select,button{font:inherit;}


h1,h2,h3,h4{font-weight:500;}
textarea:focus,input:focus{outline:none;}
::selection{background:rgba(0,149,255,0.1);}
ul{list-style-type:none;}
a{text-decoration:none;color:#635752;}
img{border:0 none;}

.o{overflow:hidden;zoom:1;}
.l{float:left;}
.r{float:right;}

.c:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
* html .c{height:1%;}

.h{opacity:0;pointer-events:none;}

a,input,button{transition:.3s ease;}

xmp{display:none;}


html{
	background:#F0DAB3 url(post-bg.jpg);
}

html,
body{
	height:100%;
	overflow:hidden;
}


body{

	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
xmp{
	display:none;
}


header{
	
}
header a{
	padding:2em;
	display:block;
	transition:none;
}
header img{
	display:block;
	width:60px;
	height:60px;
	border-radius:9em;
	margin:0 auto;
	transition:none;
	box-shadow:0 1px 4px rgba(20,0,0,.1);
}




.side{
	height:100%;
	position:relative;
	text-align:center;
	transition:opacity .3s ease;


	-webkit-overflow-scrolling:touch;
	overflow-y:auto;

	

		box-shadow:
			0 0 15px rgba(30,0,0,.2),
			0 0 0 1px rgba(100,0,0,.1);
}


::-webkit-scrollbar-track-piece{}
::-webkit-scrollbar{
	width:4px;
	height:6px;
	
}
::-webkit-scrollbar-thumb{
	height:40px;
	background-color:#635752;
	border-radius:9em;
}
::-webkit-scrollbar-thumb:hover{
	background-color:#222;
}


.side::-webkit-scrollbar{
	width:0px;
	height:6px;
	
}


.posts{
	
}
.post{
	display:block;
	padding:.6em 1em .5em;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
}
.post.active,
.post:hover{
	box-shadow: 0 1px 4px rgba(0,0,0,.03) inset;
	text-shadow:0 1px 0 #FFF;

	background:rgba(255,255,255,.5);
}


.post h2{
	line-height:1.1;
	padding:.2em 0 0;
	margin:0;
}
.post[image] h2:after{
	content:'';
	display:inline-block;
	width:24px;
	height:24px;
	vertical-align:middle;
	margin-left:.2em;
	background:url(image.svg);
	opacity:.2;
	position:relative;
	top:-3px;
}
.post time{
	color:#b9a691;
	font-size:.8em;
	margin-left:1em;
	margin-left:0;
}



.article-box{
	margin-left:300px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;

	-webkit-overflow-scrolling:touch;
	overflow-y:auto;

	transition:.3s ease;

	opacity:0;
	-webkit-transform:translateZ(-10px) translateX(50px) rotateY(5deg);
			transform:translateZ(-10px) translateX(50px) rotateY(5deg);

	pointer-events:none;
}



.article{
	padding:2em 2.8em;
	max-width:600px;
	margin:2em auto;
	line-height:2;
	background:#fffcf7;
	box-shadow:
		0 0 15px rgba(30,0,0,.2),
		0 0 0 1px rgba(100,0,0,.1);

	pointer-events:none;
	position:relative;
}



.article h1{
	margin:-.4em -.4em 0 -.2em;
	line-height:1.2;
	padding:.5em 0 0;
}
.article time{
	display:block;
	font-size:.9em;
	padding:0 1em;
	line-height:3;
	color:#b9a691;
}
.article .count{
	position:absolute;
	top:.5em;right:.5em;
	font-size:.9em;
	padding:0 .5em;
	color:#b9a691;
}
.article .count:before{
	content:'共 ';
}
.article .count:after{
	content:' 字';
}
.text img{
	display:block;
	padding:.7em;
	background:#FFF;
	box-shadow:
		0 1px 7px rgba(0,0,0,.1),
		0 0 0 1px rgba(40,0,0,.1);
	margin:1em 5em 1em 1em;
}
.text im{
	max-width:80%;
	max-height:600px;
}
.text p{
	text-indent:1em;
}
.text ul{
	padding:.5em;
}
.text ul li{
	padding-left:1.5em;
	position:relative;
}

.text ol{
	padding:.5em;
	padding-left:40px;
}
.text ol li{

}
.text pre{
	line-height:1;
}
.text pre code{
	display:block;
	overflow-x:auto;
	padding:.5em .7em;
	background:#23241f;color:#f8f8f2;
}
/*.article ul{padding-left:2em;list-style-type:disc;}*/

.text blockquote{
	font-size:.9em;
	line-height:1.5;
	background:#fbf3eb;
	color:#a8988e;
	margin:.2em;
	padding:1.2em 1.5em;

}
.text blockquote p{
	text-indent:0;
}

.text ul li:after{
	content:'';
	position:absolute;
	top:50%;
	left:.4em;

	width:.4em;height:.4em;
	margin-top:-.2em;
	background:#333;
	border-radius:9em;

}

footer{

	text-align:center;
	color:#b9a691;
	padding:6em 0 2em;
	font-size:12px;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
}

footer p{
	
}


body[step="post"] header a{
	padding:1em;
}
body[step="post"] header img{
}


body[step="post"] .side{

	text-align:left;
	width:300px;

	background:#fffcf6;
	-webkit-animation:sideIn .8s ease-in-out;
			animation:sideIn .8s ease-in-out;
}
@-webkit-keyframes sideIn {
	0%{
		opacity:0;
	}
	50%{
		opacity:0;
		-webkit-transform:translateY(10px);
				transform:translateY(10px);
	}
}
@keyframes sideIn {
	0%{
		opacity:0;
	}
	50%{
		opacity:0;
	}
}

body[step="post"] .post.active,
body[step="post"] .post:hover{
	background: linear-gradient(#fbf1e7,#fbf3ea);
	background: -webkit-linear-gradient(top,#fbf1e7,#fbf3ea);
}

body[step="post"] .post h2{
	font-size:1em;
}


body[step="post"] .post time{
	font-size:.5em;
}

body[step="post"] .article-box{
	-webkit-transform:translateZ(0) translateX(0) rotateY(0);
			transform:translateZ(0) translateX(0) rotateY(0);
	opacity:1;
	pointer-events:auto;
}
body[step="post"] .article{
	pointer-events:auto;
}


@media(max-width:1060px){
	.article-box{
	}
	.article{
		margin:1em;
		max-width:800px;
	}
}
@media(max-width:960px){
	body[step="post"] .side{
		width:200px;
		background:none;
	}
	.side{
		box-shadow:none;
	}
	.article-box{
		margin-left:185px;
	}
	.article{
		margin:15px;
	}

	body[step="post"] .post.active,
	body[step="post"] .post:hover{
		background:linear-gradient(#716661,#5f5450);
		background:-webkit-linear-gradient(top,#716661,#5F5450);
		color:#FFF;
		text-shadow:0 1px 0 rgba(0,0,0,.5);
	}

	body[step="post"] .post h2{
		font-size:1em;
	}
	.post[image] h2:after{
		display:none;
	}
	.article{
	}
	body[step="post"] footer{
		display:none;
	}
}
@media(max-width:780px){
	body[step="post"] header img{
		margin:0;
	}
	.article-box{
		margin-left:90px;
		background:#fffcf7;
		box-shadow:
			0 0 15px rgba(30,0,0,.2),
			0 0 0 1px rgba(100,0,0,.1);
	}
	.article{
		box-shadow:none;
		margin:0;
	}

	body[step="post"] .side .post{
		padding:.6em .6em .5em;
	}
}
@media(max-width:600px){
	.article-box{
		margin-left:0;
		position:absolute;
		overflow:hidden;
		-webkit-transform:translateY(80px);
				transform:translateY(80px);
	}
	body[step="post"] .article-box{
		position:static;
	}
	.side{
		height:auto;
		width:auto;
	}
	html,body{
		overflow:visible;
	}
	body[step="post"] header img{
		margin:0 auto;
	}
	body[step="post"] .side{
		text-align:center;
		width:auto;
		
	}
	body[step="post"] .side img{
	}
	body[step="post"] .posts{
		display:none;
	}
	.article{
		padding:1em 1.3em;
	}
	
	.text img{
		max-width:100%;
		padding:0;
		margin:.5em 0;
		height:auto;
	}
	.article .count{
		display:block;
		position:static;
		padding:.5em;
	}

}